.vscode
.idea
docs/.obsidian/*
!docs/.obsidian/app.json
!docs/.obsidian/appearance.json
!docs/.obsidian/config
!docs/.obsidian/community-plugins.json
!docs/.obsidian/core-plugins.json
!docs/.obsidian/graph.json
!docs/.obsidian/hotkeys.json
node_modules/