#header .rl-settingsbutton {
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
    height: 35px;
    width: 35px;
    cursor: pointer;
    background: url("chrome-extension://__MSG_@@extension_id__/assets/png/settings.png"), url("moz-extension://__MSG_@@extension_id__/assets/png/settings.png") no-repeat left top;
}
 